body {
    height: 100%;
    background: linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%);
}
#one {

  text-align: center;
  color: black;


  font-family: 'Caesar Dressing';font-size: 22px;
  font-size: 100px;
  border-style: solid;
  border-width: 0.5px;


}
#two {

  margin-top: 100px;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
  font-family: 'Oregano';font-size: 22px;
}



.container {
  text-align: center;
}
p {
  text-align: center;
}
.form-group {

  background-size: auto;
  padding-top: 8px;

  margin-top: 30px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 20px;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;

    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: default;
}
.button {
    background-color: pink;
    color: grey;
    border: 0px solid #4CAF50;
}
