body {
    background-color: #1A1110;
  }
#one {
  background-color: #7CFC00;
  text-align: center;
  color: orange;

}
#two {
  background-color: #7CFC00;
  margin-top: 100px;
}
.container {
  text-align: center;
}
p {
  text-align: center;
}
